.container {
    height: calc(100vh - var(--header-height));
    margin: 0;
    padding: 0;
}
mat-sidenav-container {
    height: calc(100vh - var(--header-height) - .75rem);
}
main {
    flex: 1;
    font-family: Arial, sans-serif;
}
header {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    margin: 0;
    width: 100%;
}
header h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.3rem;
    font-style: italic;
    padding: 0;
    margin: 0 1rem;
    text-shadow: .1rem .1rem .2rem var(--mat-sys-shadow);
}
header .header-section {
    flex: 0 1 auto;
}
header .search-button {
    background-image: url('assets/images/search.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: .1rem solid var(--mat-sys-outline-variant);
    border-radius: .4rem;
    height: 2rem;
    margin: .5rem;
    width: 2rem;
}