<header>
  <div class="header-section">
    <h1>{{ title }}</h1>
  </div>
  <div class="header-section">
    <button mat-icon-button (click)="sidenav.toggle()" class="search-button"></button>
  </div>
</header>
<div class="container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="mat-elevation-z8" position="end" opened="false" mode="over">
      <app-search-panel></app-search-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <main>
          <app-stories></app-stories>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet />
